# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

* List Popular Data Science Languages
* List Popular Data Science Libraries
* List Popular Data Science Tools
* Evaluating arithmatic in Python

Some of the popular languages fpr Data Scoentists are:
1. Python
2. Julia
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn

|Data Science Tools|
|-|
|Google Colab|
|Jupyter Notebook|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ari Socorro